a {
    text-decoration: none;
    color: #8A153A;
    position: relative;
}

a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #8A153A;
    transition: width 0.3s ease-in-out;
}

a:hover::before {
    width: 100%;
}
